<mat-card>
  <mat-card-header>
    <mat-card-title>Packets Traffic</mat-card-title>

    <div>
      <button mat-icon-button color="accent" (click)="updateChartSettings()">
        <mat-icon aria-label="Settings">settings</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="refreshPacketsChart()">
        <mat-icon aria-label="Refresh">refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div id="packets-chart"></div>

    <div class="empty-message" *ngIf="!deviceSelected">
      You need to select a device
    </div>
  </mat-card-content>
</mat-card>
