<div class="container" *ngIf="loginForm">
  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
    <h1 class="form-title">Welcome !</h1>

    <mat-form-field hideRequiredMarker appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [formControl]="loginForm.controls.username"/>
    </mat-form-field>

    <mat-form-field hideRequiredMarker appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="loginForm.controls.showPassword.value ? 'text' : 'password'" [formControl]="loginForm.controls.password"/>
    </mat-form-field>

    <mat-checkbox [formControl]="loginForm.controls.showPassword">Show password</mat-checkbox>

    <div class="form-bottom">
      <a routerLink="/register">Create an account</a>
      <button mat-flat-button color="primary">Login</button>
    </div>
  </form>
</div>
